<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/base.html :: headerfiles(categoria)">
<body>
	<header th:replace="fragments/base.html :: header"></header>
	<nav th:replace="fragments/base.html :: navigation"></nav>
	<h1>
		<span th:text="${categoria.nome}">a</span>
	</h1>
	<div id="immagine">
		<img th:src="'/images/categoria/' + ${categoria.nome} + '.jpg'" width=100%
			height=100% />
	</div>
	<div class="anagrafica">
		<ul id="anagrafica">
			<li th:text="${categoria.descrizione}">descrizione</li>
			<li><strong>Allenatore: </strong><span
				th:if="${categoria.allenatore.ruolo} == 'Allenatore'"
				th:text="|${categoria.allenatore.nome} ${categoria.allenatore.cognome}|">Nome Allenatore</span></li>
		</ul>
	</div>
	<div id="giocatore">CALCIATORI</div>
	<div id="caratteristiche">
		<ul th:each="giocatore : ${giocatori}">
			<li><a th:href="'/giocatore/' + ${giocatore.id}"><span
					th:text="|${giocatore.nome} ${giocatore.cognome}|">Nome
						Cognome</span></a>, <span th:text="${giocatore.ruolo}"> Ruolo</span></li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>