<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/base.html :: headerfiles(giocatore)">
<body>
	<header th:replace="fragments/base.html :: header"></header>
	<nav th:replace="fragments/base.html :: navigation"></nav>
	<div class="info" th:object="${giocatore}">
		<span class=nome_giocatore th:text="|*{nome} *{cognome}|"></span>
		<div>
			Data di nascita: <span th:text="*{{dataDiNascita}}">nascita</span>
		</div>
		<div>
			Nazionalit&agrave: <span th:text="*{nazionalita}">nazionalita</span>
		</div>
		<div>
			Altezza: <span th:text="*{altezza}">altezza</span> m
		</div>
		<div>
			Peso: <span th:text="*{peso}">peso</span> Kg
		</div>
		<div>
			Ruolo: <span th:text="*{ruolo}">ruolo</span>
		</div>
		<div>
			Categoria: <a th:href="'/categoria/' + *{categoria.id}" th:text="*{categoria.nome}">categoria</a>
		</div>
	</div>
</body>
</html>