<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/base.html :: headerfiles(home)">
</head>
<body>
	<header th:replace="fragments/base.html :: header"></header>
	<nav th:replace="fragments/base.html :: navigation"></nav>
	<div>
		<a th:href="@{'/listaGiocatori'}">Lista Giocatori</a>
	</div>
	<p id="testoPresentativo">
	<h1>Chi siamo</h1>
	<em>testo presentativo</em>
	</p>
	<hr>
	<p>
	<h1>Dirigenza</h1>
	<span> descrizione Dirigienza</span>
	<ul>
		<li>lista nomi dirigenza</li>
	</ul>
	</p>
	<hr>
	<p>
	<h1>Le nostre squadre</h1>
	<div id="squadre">
		<div id="squadra">
			<div id="nome"><a th:href="'/categoria/1'">Pulcini</a></div>
			<div>
				<img src="https://www.figc.it/media/97231/naz-a-italia-bosnia.jpg"
					width=100% height=100%;></img>
			</div>
		</div>
		<div id="squadra">
			<div id="nome">Nome squadra</div>
			<div>
				<img src="https://www.figc.it/media/97231/naz-a-italia-bosnia.jpg"
					width=100% height=100%;></img>
			</div>
		</div>
		<div id="squadra">
			<div id="nome">Nome squadra</div>
			<div>
				<img src="https://www.figc.it/media/97231/naz-a-italia-bosnia.jpg"
					width=100% height=100%;></img>
			</div>
		</div>
		<div id="squadra">
			<div id="nome">Nome squadra</div>
			<div>
				<img src="https://www.figc.it/media/97231/naz-a-italia-bosnia.jpg"
					width=100% height=100%;></img>
			</div>
		</div>
	</div>
	</p>
	<hr>
	<a name="motivazione" >m</a>otivazione ancora abbonamento
</body>
</html>