<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/base.html :: headerfiles(home)">
</head>
<body>
	<header th:replace="fragments/base.html :: header"></header>
	<nav th:replace="fragments/base.html :: navigation"></nav>
	<div>
		<a th:href="@{'/listaGiocatori'}">Lista Giocatori</a>
	</div>
	<div id="testoPresentativo">
		<h1>Chi siamo</h1>
		<em>testo presentativo</em>
	</div>
	<hr>
	<div>
		<h1>Dirigenza</h1>
		<span> descrizione Dirigienza</span>
		<ul>
			<li>lista nomi dirigenza</li>
		</ul>
	</div>
	<hr>
	<p>
	<h1>Le nostre squadre</h1>
	<div id="squadre">
		<div id="squadra">
			<div id="nome">
				<a th:href="'/categoria/1'">Pulcini</a>
			</div>
			<div>
				<img src="https://www.figc.it/media/97231/naz-a-italia-bosnia.jpg"
					width=100% height=100%;></img>
			</div>
		</div>
		<div id="squadra">
			<div id="nome">Nome squadra</div>
			<div>
				<img src="https://www.figc.it/media/97231/naz-a-italia-bosnia.jpg"
					width=100% height=100%;></img>
			</div>
		</div>
		<div id="squadra">
			<div id="nome">Nome squadra</div>
			<div>
				<img src="https://www.figc.it/media/97231/naz-a-italia-bosnia.jpg"
					width=100% height=100%;></img>
			</div>
		</div>
		<div id="squadra">
			<div id="nome">Nome squadra</div>
			<div>
				<img src="https://www.figc.it/media/97231/naz-a-italia-bosnia.jpg"
					width=100% height=100%;></img>
			</div>
		</div>
	</div>
	<hr>
	<div>motivazione ancora abbonamento</div>
	<div sec:authorize="isAnonymous()">
		<a th:href="'/register'">Abbonati</a>
	</div>
	<div sec:authorize="isAnonymous()">
		<a th:href="'/login'">Login</a>
	</div>
	<div sec:authorize="isAuthenticated()">
		<a th:href="'/logout'">Logout</a>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>