<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/base.html :: headerfiles(listaGiocatori)"><head>
<body>
	<header th:replace="fragments/base.html :: header"></header>
	<nav th:replace="fragments/base.html :: navigation"></nav>
	<div th:each="giocatore : ${giocatori}">
		<a href="giocatore.html" 
		th:href="@{'/giocatore/' + ${giocatore.id}}"
		th:text="|${giocatore.nome} ${giocatore.cognome}|"></a><span th:text="${giocatore.categoria.nome}"></span>
	</div>
</body>
</html>