<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/base.html :: headerfiles(form)">
<body>
	<header th:replace="fragments/base.html :: header"></header>
	<nav th:replace="fragments/base.html :: navigation"></nav>
	<section>
		<div class="container">
			<form th:action="@{/login}" method="POST">
				<table>
					<tr>
						<td>Username:</td> <td><input name="username"
							type="text" required /></td>
					</tr>
					<tr>
						<td>Password:</td> <td><input name="password"
							type="password" required /></td>
					</tr>
					<tr>
						<td><button type="submit">Login</button></td>
					</tr>
				</table>
			</form>
		</div>
	</section>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>