<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/base.html :: headerfiles(form)">
<body>
	<header th:replace="fragments/base.html :: header"></header>
	<nav th:replace="fragments/base.html :: navigation"></nav>
	<section>
		<div>
			<h3>Iscriviti ora e diventa un nuovo abbonato della A.C.R.T.
				Astral!</h3>
		</div>
		<form th:action="@{/modificaAbbonato}" method="POST"
			th:object="${user}">
			<div class="container">
				<table>
					<tr>
						<td>Nome:</td>
						<td><input type="text" th:field="*{nome}"
							th:value="*{nome}" required /></td>
					</tr>
					<tr>
						<td>Cognome:</td>
						<td><input type="text" th:field="*{cognome}"
							th:value="*{cognome}" required  /></td>
					</tr>
					<tr>
						<td>Data di nascita:</td>
						<td><input type="date" th:field="*{dataDiNascita}"
							th:value="*{dataDiNascita}" required /></td>
					</tr>
					<tr>
						<td><input type="hidden" th:field="*{id}" /></td>
					</tr>
					<tr>
						<td><button type="submit">Invia</button></td>
					</tr>
				</table>
			</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>