<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/base.html :: headerfiles(abbonatoForm)">
<body>
	<header th:replace="fragments/base.html :: header"></header>
	<nav th:replace="fragments/base.html :: navigation"></nav>
	<div>
		<h3>Iscriviti ora e diventa un nuovo abbonato della A.C.R.T.
			Astral!</h3>
	</div>
	<form th:action="@{/modificaAbbonato}" method="POST" th:object="${user}">
		<div class="container">
			<div>
				<span>Nome:</span> <span><input type="text" 
					th:field="*{nome}" th:value="*{nome}" required /></span>
			</div>
			<div>
				<span>Cognome:</span> <span><input type="text"
					th:field="*{cognome}" th:value="*{cognome}" required /></span>
			</div>
			<div>
				<span>Data di nascita:</span> <span><input type="date"
					th:field="*{dataDiNascita}" th:value="*{dataDiNascita}" required /></span>
			</div>
			<div>
				<span><input type="hidden"
					th:field="*{id}" /></span>
			</div>
			<div>
				<span><button type="submit">Invia</button></span>
			</div>
		</div>
	</form>
</body>
</html>