body {
	background-color: #f2f2f2;
	margin: 0;
}

#flex-containerNav {
	display: flex;
	justify-content: space-around;
}

#flex-containerHeader {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#flex-containerFooter {
	display: flex;
	padding: 20px;
	justify-content: space-around;
}

div.header {
	width:7.5%;
	height: 140px;
	margin-top: 2%;
	margin-left: 46.7%;
}

header {
	background-color: white;
	height: 200px;
}

nav {
	color: white;
	font-family: Helvetiva;
	font-size: 20px;
	height: 60px;
	background-color: #b3c6ff;
}

p {
	font-family: cursive;
	font-size: 20px;
	text-align: center;
}

#autenticazione {
	display: flex;
	margin-right: 4%;
}

div.aut {
	margin-left: 12%;
}

div.col {
	padding: 20px;
	text-align: center;
	font-size: 20px;
	font-family: garamond;
}

p1 {
	font-family: garamond;
	margin-left: 25px;
	font-size: 20px;
	color: white;
}

div#flex-containerHeader a {
	text-decoration: none;
}

div#flex-containerNav a {
	text-decoration: none;
}

a {
	text-decoration: none;
}

.menu {
	position: relative;
	display: inline-block;
	margin-top: 20px;
}

.contenutiMenu {
	display: none;
	margin-top: 17px;
	position: absolute;
	background-color: #b3c6ff;
	min-width: 260px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

div.Foot {
	color: white;
}

.contenutiMenu a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.contenutiMenu a:hover {
	background-color: #99b3ff;
}

.menu a:hover {
	color :blue;
}

.menu:hover .contenutiMenu {
	display: block;
}

motivazione:hover a:name{
	text-decoration: none;
}

div.navigation a:visited {
	color: white;
}

div.navigation a:hover {
	color: white;
}

div.menu a:hover {
	color: blue;
}

div.col a:hover {
	color: blue;
}

a:hover, a:active {
	color: blue;
	text-decoration: underline;
}

a:visited {
	color: black;
}

a:link {
	color: black;
}

footer {
	padding: 20px;
	text-align: center;
	background-color: black;
	height: 60px;
	color: white;
}