h1 {
  text-align: center;
  font-size: 180%;
  margin-bottom: 3%;
}

div.anagrafica {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

#anagrafica {
  text-align: center;
  list-style-type: none;
}


#immagine {
  background-image: url(https://i.pinimg.com/originals/99/f7/6b/99f76b3de162688defe73255366828e2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin-left: 5%;
  margin-right: 5%;
}

#giocatore {
  width = 100%;
  height = 100%;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}

#caratteristiche {
  margin-top: 4%;
  margin-left: 5%;
}