body {
	background-color: white;
}

.creatori{
  font-style:italic;
  color:goldenrod;
}

.info{
  margin-top:4%;
  text-align:center;
  font-size:120%;
}

.prof{
  font-style:italic;
  color:goldenrod;
}

.corso{
  margin-top:2.7%;
}

div.logo {
	width: 5%;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 2%;
}