body {
	background-color: white;
}

section {
	background-color: black;
	text-align: center;
}

#infoo {
	color: black;
	margin-top: 3%;
	margin-bottom: 2%;
	font-size: 200%;
}

div.pagina {
	background-color: white;
}

.info {
	background-color: white;
	border: solid 1px #bbb;
	text-align: center;
	font-size: 200%;
	margin-bottom: 5%;
}

.giocatore {
	color: goldenrod;
}

.unita {
	color: #b3c6ff;
}

.border {
	margin-top: 0.5%;
	border-bottom: solid 1px #bbb;
	padding: 0.9%;
}

div.logo {
	width: 5%;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 2%;
}