body{
	text-align:center;
	background-color:white;
}

#container{
  display:flex;
  flex-wrap:wrap;
}

.trofeo{
  margin:5%;
  border-right: 3px solid #bbb;
  border-left: 3px solid #bbb;
  padding: 5%;
}

.numeroVittorie{
	color: #bbb;
	text-align:center;
	font-weight:bold;
	font-size:24px;
	margin-top:20%;
}

.nome_trofeo{
  margin-bottom:20%;
  color:goldenrod;
  font-size: 200%;
}
